@import "./variables.scss";

.closet-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    padding: 0px 10px;
    border: 2px coral solid;
}

@media only screen and (max-width: 1000px) {
    .closet-container {background-color: red;
        display: none;
}}