@import "./variables.scss";

.closet-item-card-menu{
    color: white;
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.drag-me-text {
    position: absolute;
    bottom: 3px;
    left:3px;
}
