@import "./variables.scss";

$board-height: 575px;
$board-width:350px;
$ratio: calc($board-width / $board-height);

$window-height: 100vh;
$window-width: 100vw;


.outfit-board-container {
    // border: 2px blue solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    min-height: 100%;
    max-height: 100%;
    position: relative;
}

.outfit-board{
    background-color: $ltGrey;
    // border: 2px red solid;
    height: 60vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(60vw * $ratio);
    max-width: 500px;
    max-height: calc(500px/$ratio);
}
.outfit-board-inner-section{
    // border: 2px gold solid;
    width: 80%;   
    border-bottom: 1px solid rgba($dkGrey, .4);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.add-button-outfit-board {
    opacity: 0%;
    color: $dkGrey;
}

.head-section{
    height: 15%;
}

.torso-section {
    height: 30%;
}

.leg-section {
    height: 40%;
}

.foot-section {
    height: 15%;
    border-bottom: none;
}


@media only screen and (max-width: 1000px) {
    .outfit-board-container  {
        width:100%;
        justify-content: flex-start;
        padding:10px 0px;
    }

    .outfit-board {
        background-color: $ltGrey;
        min-width: $board-width;
        min-height: $board-height;

        width: calc(80vw * $ratio);
        height: 80vw;
        
    }
    .add-button-outfit-board {
        opacity: 100%;
    }

    .desktop-tooltip {
        // display: none;
    }
}