@import "./variables.scss";

.board-button-container{
    background-color: $vLtGrey;
    box-shadow: rgba($dkGrey, .75) 2px 2px 10px;
    padding: 0px 10px;
    border-radius: 10px;
margin-top: 8px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    transition: .5s;
}


.board-button-container:hover {
    box-shadow: rgba($dkGrey, .65) 5px 5px 10px;

}
